.films-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.films-item {
    padding: 16px;
    text-align: center;
    margin-bottom: 16px;
    width: 100%; /* Full width on small screens */
}

.catalog-film-image {
    max-width: 100%;
    height: auto;
}

.catalog-film-name {
    font-family: 'Cuprum-SemiBold', sans-serif !important;
    margin-top: 8px;
}

.search-films-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}
  
.search-films-field {
  flex: 1;
}

.search-button {
    border-radius: 5px!important;
    height: 56px;
    background: #7A42A6!important;
}

.more-films-btn {
    margin: 5px auto!important;
    height: 45px;
    width: 60px;
    font-family: 'Cuprum-BoldItalic', sans-serif !important;
    background-color: #7A42A6!important;
    color: #2C2C2C!important;
    font-size: 20px!important;
}
  
  
@media (min-width: 0px) {
    .search-films-container {
        width: 95vw;
    }
}

@media (min-width: 480px) {
    .search-films-container {
        width: 50vw;
    }
}

@media (min-width: 600px) {
    .films-item {
        width: calc(50% - 16px); /* Adjust margins to match Grid spacing */
    }
}

@media (min-width: 1280px) {
    .films-item {
        width: calc(33.333% - 16px); /* Adjust margins to match Grid spacing */
    }
}