

.poster-image {
  height: 600px;
  width: 240;
}

.ant-rate-star {
  color: #7A42A6!important;
  font-size: 28px;
}


.ant-rate .ant-rate-star-first,
.ant-rate .ant-rate-star-second {
  color: #3d3d3d;
}

.film-review-field {
  margin-top: 10px!important;
  width: 300px;
}

.submit-rating-btn {
  margin-top: 10px!important;
  font-family: 'Cuprum-BoldItalic', sans-serif !important;
  background-color: #7A42A6!important;
  color: #2C2C2C!important;
  font-size: 24px!important;
}

.carousel-image {
  height: 475px;
  width: 855px;
}

.recomended-film-image {
  margin-top: 10px;
  height: 300px;
  width: 170px;
}

.recomended-film {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.film-describe {
  font-family: 'Cuprum-SemiBold', sans-serif !important;
  font-size: 24px!important;
  margin: auto!important;
  margin-top: 120px!important;
  width: 745px;
  color: #e3e3e3;
}

.additionaly-info-container {
  margin: auto;
  color: #b3b3b3;
  width: 745px;
  padding-top: 55px;
  display: inline-flex;
}

.film-country {  
  font-size: 24px!important;
  font-family: 'Cuprum-SemiBold', sans-serif !important;

}

.film-release-date { 
  font-size: 24px!important;
  font-family: 'Cuprum-SemiBold', sans-serif !important;
  flex: 1;
  text-align: right;
}