.profile-avatar {
  padding-top: 15px;
  border-radius: 50%;
}

.profile-header { 
  border-radius: 10px;
  background-color: #3b3b3b;
  text-align: center;
}

.profile-header .username {
  font-family: 'Cuprum-SemiBold';
  color: #7A42A6;
  font-size: 24px;
}

.profile-review {
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #3b3b3b!important;
}

.review-film-name {
  color: #000;
  font-family: 'Cuprum-SemiBold'!important;
}



.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 0px) {
  .profile-avatar {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .profile-avatar {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}