* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Cuprum';
  src: url('fonts/Cuprum-Italic-VariableFont_wght.ttf') format('truetype'),
    url('fonts/OFL.txt') format('woff')
}

@font-face {
  font-family: 'Cuprum-SemiBold';
  src: url('fonts/static/Cuprum-SemiBold.ttf') format('truetype'),
    url('fonts/OFL.txt') format('woff')
}

@font-face {
  font-family: 'Cuprum-BoldItalic';
  src: url('fonts/static/Cuprum-BoldItalic.ttf') format('truetype'),
    url('fonts/OFL.txt') format('woff')
}

body {
  background: #2C2C2C;
}




